<<<<<<< HEAD
=======

>>>>>>> master
.container {
    margin:0 auto; 
}

.box {
    text-align: center;
    
}

.title {
    font-family: 'Playfair Display', serif;      
    text-align: center;  
}


<<<<<<< HEAD

=======
.invitation {
    text-align: center;
}

/* .columns{
    border:1px solid black;
} */
>>>>>>> master

.button{
    font-size: 3em !important;
    /* padding: 1em; */
    margin: 0.4em;
    font-family: 'Playfair Display', serif;     
}

p{
    font-family: 'Playfair Display', serif;    
<<<<<<< HEAD
    font-size: 30px;
}



h1{
    font-family: 'Playfair Display',serif;
}

.partyEvent{
    text-align: center;
    font-size: 50px;
    /* padding: 1px; */
}

=======
    font-size: 40px;
}


/* 
.is-half{
    border:1px solid black;
    
} */


h1{
    font-family: 'Playfair Display',serif;
}
>>>>>>> master
